[submodule "toolchain/llvm-project"]
	path = toolchain/llvm-project
	url = https://github.com/SaltyOS/llvm-project.git
	branch = main
[submodule "toolchain/rust"]
	path = toolchain/rust
	url = https://github.com/SaltyOS/rust.git
	branch = main
[submodule "lib/rust-lang/libc"]
	path = lib/rust-lang/libc
	url = https://github.com/SaltyOS/rust-lang-libc.git
	branch = libc-0.2
[submodule "lib/basalt"]
	path = lib/basalt
	url = https://github.com/SaltyOS/basalt
	branch = vNext
[submodule "lib/trona"]
	path = lib/trona
	url = https://github.com/SaltyOS/trona
	branch = vNext
