[Service]
Name=blkdrv
Binary=/bin/blkdrv
Type=broker
Restart=always

[Dependencies]
After=pcidrv namesrv mmsrv
Before=saltyfs
Requires=namesrv.socket pcidrv-ep.socket
RequiresInterface=mmsrv:process-client

[Capabilities]

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
