[Service]
Name=blkdrv
Binary=blkdrv
Type=simple
Restart=always

[Dependencies]
After=pcidrv namesrv mmsrv
Before=saltyfs

[Capabilities]
NeedEP=pcidrv:64
