[Service]
Name=console
Binary=/bin/console
Type=broker
Restart=always

[Dependencies]
After=mmsrv ldsrv
Before=vfs
Requires.aarch64=com1_ioport.cap com1_irq.cap
Requires.x86_64=com1_ioport.cap com1_irq.cap kbd_ioport.cap kbd_irq.cap
RequiresInterface=mmsrv:process-client

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
