[Service]
Name=console
Binary=console.elf
Type=simple
Restart=always

[Dependencies]
After=
Before=procmgr nameserv vfs
Requires=procmgr:9

[Capabilities]
CopyCap=8:4 9:5 10:6
