[Service]
Name=display
Binary=display.elf
Type=notify
Restart=no

[Dependencies]
After=console nameserv procmgr

[Capabilities]
CopyCap=13:13
NeedEP=nameserv:5
