[Service]
Name=dispdrv
Binary=/bin/dispdrv
Type=broker
Restart=no

[Dependencies]
After=console namesrv saltyfs vfs
Requires=namesrv.socket fb_untyped.cap
RequiresInterface=mmsrv:process-client

[Capabilities]

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
