[Service]
Name=dnssrv
Binary=dnssrv
Type=simple
Restart=always

[Dependencies]
After=netsrv nameserv mmsrv
Before=vfs

[Capabilities]
NeedEP=netsrv:64 nameserv:65
