[Service]
Name=dnssrv
Binary=/bin/dnssrv
Type=broker
Restart=always

[Dependencies]
After=netsrv namesrv mmsrv saltyfs vfs
Requires=namesrv.socket netsrv-ep.socket
RequiresInterface=mmsrv:process-client

[Capabilities]

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
