[Service]
Name=hello_pe
Binary=/bin/hello_pe
Type=oneshot
Restart=no

[Dependencies]
After=win32_csrss
RequiresInterface=mmsrv:process-client

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
