[Service]
Name=mmsrv
Binary=mmsrv
Type=simple
Restart=always
PreProcmgr=yes
CNodeBits=16
Role=pager

[Dependencies]
After=console namesrv
Before=vfs procmgr

[Capabilities]
NeedEP=namesrv:64
