[Service]
Name=mmsrv
Binary=/bin/mmsrv
Type=notify
Restart=always
PreProcmgr=yes
Role=pager
CNodeBits=16

[Dependencies]
After=rsrcsrv console namesrv
Before=vfs procmgr

[Capabilities]
NeedEP=namesrv:64
