[Service]
Name=netdrv
Binary=netdrv
Type=simple
Restart=always

[Dependencies]
After=pcisrv nameserv mmsrv saltyfs vfs

[Capabilities]
NeedEP=pcisrv:64
