[Service]
Name=netdrv
Binary=/bin/netdrv
Type=notify
Restart=always

[Dependencies]
After=pcidrv namesrv rsrcsrv mmsrv saltyfs vfs

[Capabilities]
# System roles via trona::caps::*, service-local via generated svc_caps::*.
Require=namesrv
Require=mmsrv
Require=rsrcsrv
Require=pcidrv:pcidrv_ep
