[Service]
Name=netsrv
Binary=netsrv
Type=simple
Restart=always

[Dependencies]
After=netdrv namesrv mmsrv saltyfs vfs

[Capabilities]
NeedEP=netdrv:64 namesrv:65
