[Service]
Name=netsrv
Binary=/bin/netsrv
Type=broker
Restart=always

[Dependencies]
After=netdrv namesrv rsrcsrv mmsrv saltyfs vfs
Requires=namesrv.socket netdrv-ep.socket
RequiresInterface=mmsrv:process-client

[Capabilities]

[Memory]
StackReserveKiB=2048
StackPrefaultKiB=16
StackGuardKiB=4

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
