[Service]
Name=pcidrv
Binary=/bin/pcidrv
Type=broker
Restart=always

[Dependencies]
After=console namesrv
Before=blkdrv
Requires=namesrv.socket pci_ioport.cap device_control.cap

[Capabilities]

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
