[Service]
Name=pcisrv
Binary=pcisrv
Type=simple
Restart=always
PreProcmgr=yes

[Dependencies]
After=console nameserv
Before=blkdrv

[Capabilities]
CopyCap=15:64 11:66
NeedEP=nameserv:65
