[Service]
Name=posix_ttysrv
Binary=/bin/posix_ttysrv
Type=broker
Restart=always

[Dependencies]
After=console namesrv rsrcsrv vfs saltyfs dispdrv
Before=posix_getty
Requires=namesrv.socket dispdrv-ep.socket
RequiresInterface=mmsrv:process-client

[Capabilities]

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
