[Service]
Name=posix_getty
Binary=/bin/posix_getty
Type=simple
Restart=always

[Dependencies]
After=console namesrv procmgr vfs posix_ttysrv saltyfs rootfs.target
Before=test_runner
