[Service]
Name=procmgr
Binary=procmgr
Type=simple
Restart=always
CNodeBits=12
MapInitrd=yes
PreProcmgr=yes

[Dependencies]
After=console mmsrv
Before=vfs test_runner

[Capabilities]
CopyCap=13:66
NeedEP=nameserv:64 vfs:65 mmsrv:67:badge mmsrv:68
