[Service]
Name=rsrcsrv
Binary=/bin/rsrcsrv
Type=broker
Restart=always
Role=authority
CNodeBits=14

[Dependencies]
After=namesrv
Before=mmsrv vfs

[Capabilities]

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
