[Service]
Name=saltyfs
Binary=/bin/saltyfs
Type=broker
Restart=always

[Dependencies]
After=blkdrv namesrv mmsrv
Requires=namesrv.socket blkdrv-ep.socket
RequiresInterface=mmsrv:process-client

[Capabilities]
ProvidesInterface=fs
InterfaceFlags=fs:clone,exec
Exports=backend_callback

[Memory]
StackReserveKiB=2048
StackPrefaultKiB=16
StackGuardKiB=4

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
