[Service]
Name=saltyfs
Binary=/bin/saltyfs
Type=notify
Restart=always

[Dependencies]
After=blkdrv namesrv mmsrv

[Capabilities]
# System roles via trona::caps::*, service-local via generated svc_caps::*.
Require=namesrv
Require=mmsrv
Require=blkdrv:blkdrv_ep
