[Service]
Name=test_runner
Binary=test_runner
Type=simple
Restart=no

[Dependencies]
After=procmgr vfs getty dnssrv
Before=

[Capabilities]
NeedEP=dnssrv:64
