[Service]
Name=vfs
Binary=/bin/vfs
Type=broker
Restart=always

[Dependencies]
After=console namesrv mmsrv
Before=test_runner posix_ttysrv netsrv
Requires=namesrv.socket mmsrv.socket initrd_untyped.cap
RequiresInterface=mmsrv:process-client

[Capabilities]
ProvidesInterface=process-client
InterfaceRole=process-client:ROLE_VFS_CLIENT
InterfaceFlags=process-client:clone,exec,drop
Exports=backend_callback

[Memory]
StackReserveKiB=2048
StackPrefaultKiB=16
StackGuardKiB=4

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
