[Service]
Name=vfs
Binary=/bin/vfs
Type=notify
Restart=always
PreProcmgr=yes

[Dependencies]
After=console namesrv mmsrv
Before=test_runner

[Capabilities]
CreateEP=63
CopyCap=13:66 138:68 137:72
NeedEP=console:64 namesrv:65 posix_ttysrv:67 mmsrv:69:badge procmgr:70 netsrv:71
