[Service]
Name=win32_csrss
Binary=/bin/win32_csrss
Type=broker
Restart=always

[Dependencies]
After=console namesrv vfs
Before=
Requires=namesrv.socket console.socket
RequiresInterface=vfs:process-client

[Capabilities]

[Quotas]
TCB=64
SchedContext=64
Endpoint=128
Notification=128
CNode=32
VSpace=16
Frame=16384
IrqHandler=16
IoPort=32
MemoryObject=1024
